nav{
  text-transform: uppercase;
  font-family: PT Sans Narrow;
}
.nav-link { 
    opacity: 0.7;
}
.nav-link:hover{
    opacity: 1;
    background-color: #eee !important;
}

header {
height: 600px;
width: 100%;
background-image: url("header.jpg");
background-size: cover;

/*Center the text*/
text-align:center;
color: Black;

}

header p {
    font-style: italic;

}



.services i{
font-size: 30px;
padding: 25px 20px;
color: #fff;
background-color: blue;
width: 80px;
height: 80px;
border-radius: 50%

}

.services span{
    width: 200px;
    display: inline-block;
}

.services {
    width: auto;
}


.Pricing {
    text-align: center;
    width: auto;
    display:inline-block;
    
}

.Pricing span1 {
    /*Adjust the size and position of the icon*/
font-size: 30px;
padding: 15px 20px;

color: #fff;
background-color: #353535;
width: 60px;
height: 60px;
border-radius: 10%;



}

.Pricing span3 {
    /*Adjust the size and position of the icon*/
font-size: 30px;
padding: 25px 40px;

color: #fff;
background-color: #5bc0de;
width: 80px;
height: 80px;
border-radius: 10%;

}

.Pricing span2 {
    /*Adjust the size and position of the icon*/
font-size: 25px;
padding: 5px 20px;
color: #fff;
background-color: #b8b8b8
}



.team {
    margin: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 10px;

}

.team img{

    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
    color: #fff;
    background-color: blue;
    }

.contact .btn{
    width:100%;
}

.contact i {
    padding: 15px;
}

.contact button:hover{
    background-color: black;
}


